TZ=America/Santiago
IADICTADOR_SESSION_SECRET=cambia_este_secreto_largo
IADICTADOR_ADMIN_USER=admin
IADICTADOR_ADMIN_PASSWORD=admin1
IADICTADOR_DB_URL=sqlite:////data/iadictador.sqlite3
IADICTADOR_UPLOAD_DIR=/data/uploads_iadictador
